# Virtual environment
.venv/
venv/
env/
.venv

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Streamlit
.streamlit/secrets.toml

# Data files (if sensitive or large)
transactions.xlsx
transactions.parquet

# Others
*.log
.DS_Store
